{
  "openapi": "3.1.0",
  "info": {
    "title": "AstroWay Calculation API",
    "version": "2.17.0",
    "description": "Professional astrology calculation API powered by Swiss Ephemeris. Compute natal charts, synastry, progressions, directions, transits, Human Design, and 80+ other calculation types via a simple REST API.",
    "contact": {
      "url": "https://app.astroway.info"
    }
  },
  "servers": [
    {
      "url": "https://api.astroway.info/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key for authentication. Include in X-Api-Key header."
      }
    },
    "schemas": {
      "ChartInput": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "time": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "houseSystem": {
            "type": "string",
            "default": "P"
          },
          "name": {
            "type": "string",
            "default": ""
          },
          "city": {
            "type": "string",
            "default": ""
          },
          "zodiacType": {
            "type": "string",
            "enum": [
              "tropical",
              "sidereal"
            ]
          },
          "ayanamsaId": {
            "type": "number",
            "nullable": true
          },
          "cosmogram": {
            "type": "boolean"
          }
        },
        "required": [
          "date",
          "time"
        ],
        "additionalProperties": {
          "nullable": true
        },
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "TwoChart": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "chart1",
          "chart2"
        ],
        "description": "Pair of natal charts for relationship calculations: synastry, composite, davison."
      },
      "MultiChart": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartInput"
            },
            "minItems": 2,
            "maxItems": 10
          }
        },
        "required": [
          "inputs"
        ],
        "description": "Group of 2-10 natal charts for collective calculations: group synastry, penta-chart, etc."
      },
      "NatalTarget": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "targetTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "targetTzOffset": {
                "type": "number",
                "nullable": true
              },
              "converse": {
                "type": "boolean"
              }
            },
            "required": [
              "targetDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Natal chart plus a target date for time-based calculations: progressions, directions, profections, returns."
      },
      "NatalWrapper": {
        "type": "object",
        "properties": {
          "natal": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "natal"
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "AcgZones": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "point": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "lng": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  }
                },
                "required": [
                  "lat",
                  "lng"
                ]
              },
              "radiusDeg": {
                "type": "number",
                "minimum": 0.5,
                "maximum": 20,
                "default": 4
              }
            },
            "required": [
              "point"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "AlgolNearest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "longitude": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "date"
        ]
      },
      "AlgolRange": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "longitude": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "startDate",
          "endDate"
        ]
      },
      "AspectBar": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "stepDays": {
            "type": "number",
            "nullable": true
          },
          "planet1Ids": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "planet2Ids": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "aspectAngles": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "maxOrb": {
            "type": "number",
            "nullable": true
          },
          "visiblePlanetIds": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          }
        },
        "required": [
          "startDate",
          "endDate"
        ]
      },
      "AspectTimeline": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "stepDays": {
            "type": "number",
            "nullable": true
          },
          "planet1Ids": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "planet2Ids": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "aspectAngles": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          },
          "maxOrb": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "startDate",
          "endDate"
        ]
      },
      "BiWheel": {
        "type": "object",
        "properties": {
          "natal": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "outer": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              },
              "outerLabel": {
                "type": "string",
                "maxLength": 40,
                "default": "TR"
              }
            }
          }
        },
        "required": [
          "natal",
          "outer"
        ]
      },
      "BiorhythmRender": {
        "type": "object",
        "properties": {
          "birthDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "rangeStart": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "rangeEnd": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              },
              "width": {
                "type": "integer",
                "minimum": 400,
                "maximum": 3000
              },
              "height": {
                "type": "integer",
                "minimum": 200,
                "maximum": 1200
              }
            }
          }
        },
        "required": [
          "birthDate",
          "rangeStart",
          "rangeEnd"
        ]
      },
      "Breakup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TwoChart"
          },
          {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "endDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              }
            },
            "required": [
              "startDate",
              "endDate"
            ]
          }
        ],
        "description": "Pair of natal charts for relationship calculations: synastry, composite, davison."
      },
      "CcgAnalysis": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NatalWrapper"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "targetTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "targetTzOffset": {
                "type": "number",
                "nullable": true
              },
              "point": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number",
                    "nullable": true
                  },
                  "lng": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "lat",
                  "lng"
                ]
              },
              "latitude": {
                "type": "number",
                "nullable": true
              },
              "fastPlanetsOnly": {
                "type": "boolean"
              },
              "orb": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "targetDate"
            ]
          }
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "ChangePassword": {
        "type": "object",
        "properties": {
          "old_password": {
            "type": "string",
            "minLength": 1
          },
          "new_password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 100
          }
        },
        "required": [
          "old_password",
          "new_password"
        ]
      },
      "Changing": {
        "type": "object",
        "properties": {
          "seed": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "ChartWithTnp": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "time": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "houseSystem": {
            "type": "string",
            "default": "P"
          },
          "name": {
            "type": "string",
            "default": ""
          },
          "city": {
            "type": "string",
            "default": ""
          },
          "zodiacType": {
            "type": "string",
            "enum": [
              "tropical",
              "sidereal"
            ]
          },
          "ayanamsaId": {
            "type": "number",
            "nullable": true
          },
          "cosmogram": {
            "type": "boolean"
          },
          "withTnp": {
            "type": "boolean"
          }
        },
        "required": [
          "date",
          "time"
        ]
      },
      "Chat": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "message": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2000
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "type": "string",
                  "maxLength": 2000
                }
              },
              "required": [
                "role",
                "content"
              ]
            },
            "maxItems": 10
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          }
        },
        "required": [
          "message"
        ]
      },
      "Coalescent": {
        "type": "object",
        "properties": {
          "input1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "input2": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "input1",
          "input2"
        ]
      },
      "ComparisonCoach": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "question": {
            "type": "string",
            "minLength": 5,
            "maxLength": 2000
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          }
        },
        "required": [
          "chart1",
          "chart2",
          "question"
        ]
      },
      "Compatibility": {
        "type": "object",
        "properties": {
          "sign1": {
            "type": "string",
            "minLength": 1
          },
          "sign2": {
            "type": "string",
            "minLength": 1
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en"
            ],
            "default": "uk"
          },
          "disclaimer_inline": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "sign1",
          "sign2"
        ]
      },
      "CompositeProgressions": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TwoChart"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "targetTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "targetTzOffset": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "targetDate"
            ]
          }
        ],
        "description": "Pair of natal charts for relationship calculations: synastry, composite, davison."
      },
      "CompositeRender": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TwoChart"
          },
          {
            "type": "object",
            "properties": {
              "options": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "minimum": 200,
                    "maximum": 2000
                  },
                  "theme": {
                    "type": "string",
                    "enum": [
                      "light",
                      "dark",
                      "console"
                    ]
                  },
                  "showAspects": {
                    "type": "boolean"
                  },
                  "showRetrograde": {
                    "type": "boolean"
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "svg",
                      "json"
                    ],
                    "default": "json"
                  }
                }
              }
            }
          }
        ],
        "description": "Pair of natal charts for relationship calculations: synastry, composite, davison."
      },
      "CreateKey": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "indie",
              "starter",
              "pro",
              "business",
              "enterprise",
              "hd_pack",
              "esoteric_pack",
              "vedic_pack",
              "reports_pack"
            ],
            "default": "free"
          },
          "mode": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          }
        },
        "required": [
          "name"
        ]
      },
      "CyclicIndex": {
        "type": "object",
        "properties": {
          "startYear": {
            "type": "number",
            "nullable": true
          },
          "endYear": {
            "type": "number",
            "nullable": true
          },
          "pairs": {
            "nullable": true
          }
        },
        "required": [
          "startYear",
          "endYear"
        ]
      },
      "Daily": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          }
        }
      },
      "DashaInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "targetTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "targetTzOffset": {
                "type": "number",
                "nullable": true
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Debate": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string",
            "minLength": 4,
            "maxLength": 800
          },
          "agentA": {
            "type": "string"
          },
          "agentB": {
            "type": "string"
          },
          "rounds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 2
          },
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "ru",
              "es",
              "pl",
              "de",
              "fr",
              "it",
              "pt"
            ],
            "default": "en"
          }
        },
        "required": [
          "topic",
          "agentA",
          "agentB"
        ]
      },
      "Decennials": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "lifespanYears": {
                "type": "integer",
                "minimum": 20,
                "maximum": 120,
                "default": 90
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Djamaspa": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        },
        "required": [
          "date"
        ]
      },
      "EclipseAnalysis": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NatalWrapper"
          },
          {
            "type": "object",
            "properties": {
              "year": {
                "type": "number",
                "nullable": true
              },
              "point": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number",
                    "nullable": true
                  },
                  "lng": {
                    "type": "number",
                    "nullable": true
                  }
                },
                "required": [
                  "lat",
                  "lng"
                ]
              },
              "yearsRange": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "year",
              "point"
            ]
          }
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "EclipsePath": {
        "type": "object",
        "properties": {
          "path": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                "longitude": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                },
                "time": {
                  "type": "string",
                  "maxLength": 40
                }
              },
              "required": [
                "latitude",
                "longitude"
              ]
            },
            "minItems": 2,
            "maxItems": 500
          },
          "centerlinePoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                "longitude": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                },
                "time": {
                  "type": "string",
                  "maxLength": 40
                }
              },
              "required": [
                "latitude",
                "longitude"
              ]
            },
            "maxItems": 500
          },
          "bandWidthDeg": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 20
          },
          "title": {
            "type": "string",
            "maxLength": 120
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              },
              "width": {
                "type": "integer",
                "minimum": 400,
                "maximum": 3000
              },
              "height": {
                "type": "integer",
                "minimum": 200,
                "maximum": 1500
              },
              "showGraticule": {
                "type": "boolean"
              },
              "pathColor": {
                "type": "string",
                "maxLength": 20
              }
            }
          }
        },
        "required": [
          "path"
        ]
      },
      "EclipseTotality": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Eclipses": {
        "type": "object",
        "properties": {
          "year": {
            "type": "number",
            "nullable": true
          },
          "yearsRange": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "year"
        ]
      },
      "ElectionalRange": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          }
        },
        "required": [
          "chart1",
          "chart2",
          "startDate",
          "endDate"
        ]
      },
      "Ephemeris": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "stepDays": {
            "type": "number",
            "nullable": true
          },
          "planetIds": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          }
        },
        "required": [
          "startDate",
          "endDate"
        ]
      },
      "Evict": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string",
            "minLength": 8,
            "maxLength": 100
          }
        },
        "required": [
          "api_key"
        ]
      },
      "ExplainAspect": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "planet1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 40
          },
          "planet2": {
            "type": "string",
            "minLength": 2,
            "maxLength": 40
          },
          "aspectType": {
            "type": "string",
            "enum": [
              "Conjunction",
              "Sextile",
              "Square",
              "Trine",
              "Opposition",
              "Quincunx",
              "Semi-square",
              "Sesquiquadrate"
            ]
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          }
        },
        "required": [
          "planet1",
          "planet2",
          "aspectType"
        ]
      },
      "ExplainTransit": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "transitDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "transitPlanet": {
            "type": "string",
            "minLength": 2,
            "maxLength": 40
          },
          "natalPlanet": {
            "type": "string",
            "minLength": 2,
            "maxLength": 40
          },
          "aspectType": {
            "type": "string",
            "enum": [
              "Conjunction",
              "Sextile",
              "Square",
              "Trine",
              "Opposition"
            ]
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          }
        },
        "required": [
          "chart",
          "transitDate",
          "transitPlanet",
          "natalPlanet",
          "aspectType"
        ]
      },
      "FamilyPattern": {
        "type": "object",
        "properties": {
          "parent1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "parent2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "child": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "parent1",
          "child"
        ]
      },
      "Family": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ChartInput"
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "parent",
                        "child",
                        "grandparent",
                        "sibling",
                        "spouse"
                      ]
                    }
                  },
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              ],
              "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
            },
            "minItems": 2,
            "maxItems": 8
          }
        },
        "required": [
          "members"
        ]
      },
      "FirstDate": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          }
        },
        "required": [
          "chart1",
          "chart2",
          "date"
        ]
      },
      "ForecastCalendar": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NatalWrapper"
          },
          {
            "type": "object",
            "properties": {
              "year": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "year"
            ]
          }
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "Genogram": {
        "type": "object",
        "properties": {
          "grandparent": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "parent": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "child": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "grandparent",
          "parent",
          "child"
        ]
      },
      "Geodetic": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "method": {
            "type": "string",
            "enum": [
              "sepharial",
              "johndro"
            ],
            "default": "sepharial"
          },
          "year": {
            "type": "integer",
            "minimum": -3000,
            "maximum": 3000
          },
          "obliquity": {
            "type": "number",
            "minimum": 0,
            "maximum": 90
          }
        },
        "required": [
          "latitude",
          "longitude"
        ]
      },
      "HoraryInput": {
        "type": "object",
        "properties": {
          "horaryNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 249
          },
          "date": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "timezoneOffset": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "ayanamsaId": {
            "type": "number"
          }
        },
        "required": [
          "horaryNumber",
          "date",
          "time",
          "timezoneOffset",
          "latitude",
          "longitude"
        ]
      },
      "InfluenceZone": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "azimuth": {
            "type": "number",
            "nullable": true
          },
          "halfAngle": {
            "type": "number",
            "nullable": true
          },
          "maxDistDeg": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "latitude",
          "longitude",
          "azimuth"
        ]
      },
      "Ingress": {
        "type": "object",
        "properties": {
          "days": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Ingresses": {
        "type": "object",
        "properties": {
          "planetId": {
            "type": "number",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        },
        "required": [
          "planetId",
          "startDate",
          "endDate"
        ]
      },
      "InterpretElement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "enum": [
                  "uk",
                  "en"
                ],
                "default": "uk"
              },
              "disclaimer_inline": {
                "type": "boolean",
                "default": false
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "InterpretNatal": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "enum": [
                  "uk",
                  "en"
                ],
                "default": "uk"
              },
              "disclaimer_inline": {
                "type": "boolean",
                "default": false
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "InterpretPlacement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "planet": {
                "type": "string",
                "minLength": 1
              },
              "language": {
                "type": "string",
                "enum": [
                  "uk",
                  "en"
                ],
                "default": "uk"
              },
              "disclaimer_inline": {
                "type": "boolean",
                "default": false
              }
            },
            "required": [
              "planet"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "InterpretSynastry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TwoChart"
          },
          {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "enum": [
                  "uk",
                  "en"
                ],
                "default": "uk"
              },
              "disclaimer_inline": {
                "type": "boolean",
                "default": false
              }
            }
          }
        ],
        "description": "Pair of natal charts for relationship calculations: synastry, composite, davison."
      },
      "InterpretTransits": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "transitDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "transitTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "transitTzOffset": {
                "type": "number",
                "nullable": true
              },
              "language": {
                "type": "string",
                "enum": [
                  "uk",
                  "en"
                ],
                "default": "uk"
              },
              "disclaimer_inline": {
                "type": "boolean",
                "default": false
              }
            },
            "required": [
              "transitDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Login": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "Logo": {
        "type": "object",
        "properties": {
          "data_url": {
            "type": "string",
            "pattern": "^data:image\\/(png|jpeg|svg\\+xml|webp);base64,[A-Za-z0-9+/=]+$"
          }
        },
        "required": [
          "data_url"
        ],
        "additionalProperties": false
      },
      "LordOfPrediction": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetAge": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "maximum": 120
              }
            },
            "required": [
              "targetAge"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "LunarCalendar": {
        "type": "object",
        "properties": {
          "year": {
            "type": "number",
            "nullable": true
          },
          "month": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "year",
          "month"
        ]
      },
      "LunarReturn": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "afterDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "afterTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "afterTzOffset": {
                "type": "number",
                "nullable": true
              },
              "locationLat": {
                "type": "number",
                "nullable": true
              },
              "locationLng": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "afterDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Monthly": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "year": {
            "type": "integer",
            "minimum": 1900,
            "maximum": 2100
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          },
          "tone": {
            "type": "string",
            "enum": [
              "warm",
              "professional",
              "concise"
            ],
            "default": "warm"
          },
          "length": {
            "type": "string",
            "enum": [
              "short",
              "medium",
              "long"
            ],
            "default": "medium"
          }
        },
        "required": [
          "chart",
          "year",
          "month"
        ]
      },
      "MoonAspects": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "nullable": true
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          }
        },
        "required": [
          "year",
          "month"
        ]
      },
      "MoonPhase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "options": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "minimum": 200,
                    "maximum": 2000
                  },
                  "theme": {
                    "type": "string",
                    "enum": [
                      "light",
                      "dark",
                      "console"
                    ]
                  },
                  "showAspects": {
                    "type": "boolean"
                  },
                  "showRetrograde": {
                    "type": "boolean"
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "svg",
                      "json"
                    ],
                    "default": "json"
                  },
                  "showLabel": {
                    "type": "boolean"
                  }
                }
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "MuhuratWindow": {
        "type": "object",
        "properties": {
          "search_window_start": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "search_window_end": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "ayanamsaId": {
            "type": "number",
            "nullable": true
          },
          "topN": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "default": 10
          }
        },
        "required": [
          "search_window_start"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "MultiAgent": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "minLength": 4,
            "maxLength": 2000
          },
          "agents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 2,
            "maxItems": 4
          },
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "ru",
              "es",
              "pl",
              "de",
              "fr",
              "it",
              "pt"
            ],
            "default": "en"
          }
        },
        "required": [
          "question",
          "agents"
        ]
      },
      "MultiForecast": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              }
            },
            "required": [
              "targetDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "NatalReport": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ]
          },
          "whitelabel": {
            "type": "boolean"
          }
        },
        "required": [
          "chart"
        ]
      },
      "Natal": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          },
          "tone": {
            "type": "string",
            "enum": [
              "warm",
              "professional",
              "concise"
            ],
            "default": "warm"
          },
          "length": {
            "type": "string",
            "enum": [
              "short",
              "medium",
              "long"
            ],
            "default": "medium"
          }
        },
        "required": [
          "chart"
        ]
      },
      "NatalTargetTnp": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "time": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "default": 0
          },
          "houseSystem": {
            "type": "string",
            "default": "P"
          },
          "name": {
            "type": "string",
            "default": ""
          },
          "city": {
            "type": "string",
            "default": ""
          },
          "zodiacType": {
            "type": "string",
            "enum": [
              "tropical",
              "sidereal"
            ]
          },
          "ayanamsaId": {
            "type": "number",
            "nullable": true
          },
          "cosmogram": {
            "type": "boolean"
          },
          "targetDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "targetTime": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
          },
          "targetTzOffset": {
            "type": "number",
            "nullable": true
          },
          "converse": {
            "type": "boolean"
          },
          "withTnp": {
            "type": "boolean"
          }
        },
        "required": [
          "date",
          "time",
          "targetDate"
        ]
      },
      "Nine": {
        "type": "object",
        "properties": {
          "seed": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "question": {
            "type": "string",
            "maxLength": 400
          },
          "allowReversed": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "ParentChild": {
        "type": "object",
        "properties": {
          "parent": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "child": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "parent",
          "child"
        ]
      },
      "Penta": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartInput"
            },
            "minItems": 3,
            "maxItems": 5
          }
        },
        "required": [
          "inputs"
        ]
      },
      "Perfections": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetAge": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "maximum": 120
              }
            },
            "required": [
              "targetAge"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "PhaseReturn": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "startYear": {
                "type": "number",
                "nullable": true
              },
              "endYear": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "startYear",
              "endYear"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "PlanetHouseEffect": {
        "type": "object",
        "properties": {
          "planet": {
            "type": "integer"
          },
          "house": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          }
        },
        "required": [
          "planet",
          "house"
        ]
      },
      "PlanetaryCycles": {
        "type": "object",
        "properties": {
          "planet1Id": {
            "type": "number",
            "nullable": true
          },
          "planet2Id": {
            "type": "number",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        },
        "required": [
          "planet1Id",
          "planet2Id",
          "startDate",
          "endDate"
        ]
      },
      "PlanetaryHour": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          }
        },
        "required": [
          "latitude",
          "longitude"
        ]
      },
      "PlanetaryHours": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          }
        },
        "required": [
          "date",
          "latitude",
          "longitude"
        ]
      },
      "PlanetaryReturn": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "planetId": {
                "type": "number",
                "nullable": true
              },
              "year": {
                "type": "number",
                "nullable": true
              },
              "locationLat": {
                "type": "number",
                "nullable": true
              },
              "locationLng": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "planetId",
              "year"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Positions": {
        "type": "object",
        "properties": {}
      },
      "Preview": {
        "type": "object",
        "properties": {
          "chart": {
            "nullable": true
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ]
          }
        }
      },
      "Profections": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetAge": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "maximum": 120
              }
            },
            "required": [
              "targetAge"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "QuarterLord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              }
            },
            "required": [
              "targetDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Question": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "minLength": 2,
            "maxLength": 500
          }
        },
        "required": [
          "question"
        ]
      },
      "Rag": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 2,
            "maxLength": 400
          },
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "topK": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 5
          }
        },
        "required": [
          "query",
          "chart"
        ]
      },
      "Rectification": {
        "type": "object",
        "properties": {
          "baseInput": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "description": {
                  "type": "string"
                },
                "weight": {
                  "type": "number",
                  "nullable": true
                }
              },
              "required": [
                "date"
              ]
            },
            "minItems": 1
          },
          "searchRangeMinutes": {
            "type": "number",
            "nullable": true
          },
          "stepMinutes": {
            "type": "number",
            "nullable": true
          },
          "methods": {
            "type": "object",
            "properties": {
              "symbolic": {
                "type": "boolean"
              },
              "primary": {
                "type": "boolean"
              },
              "progression": {
                "type": "boolean"
              }
            }
          },
          "orb": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "baseInput",
          "events"
        ]
      },
      "Register": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          }
        },
        "required": [
          "url"
        ]
      },
      "Relocation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NatalWrapper"
          },
          {
            "type": "object",
            "properties": {
              "target": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "nullable": true
                  },
                  "longitude": {
                    "type": "number",
                    "nullable": true
                  },
                  "city": {
                    "type": "string"
                  }
                },
                "required": [
                  "latitude",
                  "longitude"
                ]
              }
            },
            "required": [
              "target"
            ]
          }
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "Remedies": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "planet": {
                "type": "integer"
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "ResetConfirm": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 64,
            "maxLength": 64
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 100
          }
        },
        "required": [
          "token",
          "email",
          "password"
        ]
      },
      "ResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ]
      },
      "Retrograde": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "endDate": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "planetIds": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            }
          }
        },
        "required": [
          "startDate",
          "endDate"
        ]
      },
      "Sabian": {
        "type": "object",
        "properties": {
          "longitudes": {
            "type": "array",
            "items": {
              "type": "number",
              "nullable": true
            },
            "minItems": 1,
            "maxItems": 360
          }
        },
        "required": [
          "longitudes"
        ]
      },
      "ShoolaInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "targetDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "targetTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "targetTzOffset": {
                "type": "number",
                "nullable": true
              },
              "houseIndex": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              },
              "antardasaSeedOption": {
                "anyOf": [
                  {
                    "type": "number",
                    "enum": [
                      1
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      2
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      3
                    ]
                  }
                ]
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "Siblings": {
        "type": "object",
        "properties": {
          "sibling1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "sibling2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "parent": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "sibling1",
          "sibling2"
        ]
      },
      "SignHoroscope": {
        "type": "object",
        "properties": {
          "sign": {
            "type": "string",
            "enum": [
              "aries",
              "taurus",
              "gemini",
              "cancer",
              "leo",
              "virgo",
              "libra",
              "scorpio",
              "sagittarius",
              "capricorn",
              "aquarius",
              "pisces"
            ]
          },
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en"
            ],
            "default": "uk"
          },
          "disclaimer_inline": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "sign"
        ]
      },
      "Single": {
        "type": "object",
        "properties": {
          "seed": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "date": {
            "type": "string"
          },
          "allowReversed": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "SolarAcg": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "year": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "year"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "SolarReturn": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "year": {
                "type": "number",
                "nullable": true
              },
              "locationLat": {
                "type": "number",
                "nullable": true
              },
              "locationLng": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "year"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "StarMap": {
        "type": "object",
        "properties": {
          "points": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "raHours": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 24
                },
                "raDeg": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 360
                },
                "decDeg": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                "magnitude": {
                  "type": "number"
                },
                "name": {
                  "type": "string",
                  "maxLength": 40
                },
                "glyph": {
                  "type": "string",
                  "maxLength": 8
                }
              },
              "required": [
                "decDeg"
              ]
            },
            "minItems": 1,
            "maxItems": 2000
          },
          "observerLatDeg": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "zenithDecDeg": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "capAltitudeDeg": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "title": {
            "type": "string",
            "maxLength": 120
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              }
            }
          }
        },
        "required": [
          "points"
        ]
      },
      "Streaming": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2000
          },
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          }
        },
        "required": [
          "message"
        ]
      },
      "SubSubLord": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "number",
            "minimum": 0,
            "maximum": 360
          }
        },
        "required": [
          "longitude"
        ]
      },
      "Subscribe": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "report-ready",
              "transit-alert",
              "eclipse-alert",
              "transit-trigger",
              "retrograde-start",
              "retrograde-end",
              "return-due",
              "dasha-change",
              "mahadasha-end",
              "void-of-course-start",
              "planetary-hour-tick",
              "sign-ingress"
            ]
          },
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          }
        },
        "required": [
          "event",
          "url"
        ]
      },
      "Sun": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true,
            "default": 0
          }
        },
        "required": [
          "latitude",
          "longitude"
        ]
      },
      "SunTimes": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "timezoneOffset": {
            "type": "number",
            "nullable": true
          }
        },
        "required": [
          "date",
          "latitude",
          "longitude"
        ]
      },
      "SynastryReport": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ]
          },
          "whitelabel": {
            "type": "boolean"
          }
        },
        "required": [
          "chart1",
          "chart2"
        ]
      },
      "Synastry": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ],
            "default": "uk"
          },
          "tone": {
            "type": "string",
            "enum": [
              "warm",
              "professional",
              "concise"
            ],
            "default": "warm"
          },
          "length": {
            "type": "string",
            "enum": [
              "short",
              "medium",
              "long"
            ],
            "default": "medium"
          }
        },
        "required": [
          "chart1",
          "chart2"
        ]
      },
      "TarotReport": {
        "type": "object",
        "properties": {
          "spread": {
            "type": "string",
            "maxLength": 64
          },
          "seed": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "maxLength": 100
          },
          "allowReversed": {
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ]
          },
          "whitelabel": {
            "type": "boolean"
          }
        }
      },
      "ThreeChart": {
        "type": "object",
        "properties": {
          "chart1": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart2": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "chart3": {
            "$ref": "#/components/schemas/ChartInput"
          }
        },
        "required": [
          "chart1",
          "chart2",
          "chart3"
        ]
      },
      "Three": {
        "type": "object",
        "properties": {
          "seed": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "question": {
            "type": "string",
            "maxLength": 400
          },
          "allowReversed": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "Throw": {
        "type": "object",
        "properties": {
          "seed": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "Timeline": {
        "type": "object",
        "properties": {
          "rangeStart": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "rangeEnd": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "end": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "exact": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "category": {
                  "type": "string",
                  "maxLength": 40
                },
                "color": {
                  "type": "string",
                  "maxLength": 20
                }
              },
              "required": [
                "label",
                "start",
                "end"
              ]
            },
            "minItems": 1,
            "maxItems": 200
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              },
              "width": {
                "type": "integer",
                "minimum": 400,
                "maximum": 3000
              },
              "rowHeight": {
                "type": "integer",
                "minimum": 16,
                "maximum": 60
              }
            }
          }
        },
        "required": [
          "rangeStart",
          "rangeEnd",
          "events"
        ]
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "tool": {
            "type": "string",
            "minLength": 2,
            "maxLength": 80
          },
          "args": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "ru",
              "es",
              "pl",
              "de",
              "fr",
              "it",
              "pt"
            ],
            "default": "en"
          }
        },
        "required": [
          "tool"
        ]
      },
      "TransitAlerts": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "hours": {
                "type": "number",
                "nullable": true
              },
              "orb": {
                "type": "number",
                "nullable": true
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "TransitCalendar": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NatalWrapper"
          },
          {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "endDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "maxOrb": {
                "type": "number",
                "nullable": true
              },
              "aspectAngles": {
                "type": "array",
                "items": {
                  "type": "number",
                  "nullable": true
                }
              },
              "transitPlanetIds": {
                "type": "array",
                "items": {
                  "type": "number",
                  "nullable": true
                }
              }
            },
            "required": [
              "startDate",
              "endDate"
            ]
          }
        ],
        "description": "Wrapper { natal: ChartInput } used by endpoints that take a base natal plus extra parameters in flat fields."
      },
      "Transit": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "timezoneOffset": {
            "type": "number"
          },
          "ayanamsaId": {
            "type": "number"
          }
        }
      },
      "TransitYearlyReport": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "year": {
            "type": "integer",
            "minimum": 1900,
            "maximum": 2100
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
            ]
          },
          "whitelabel": {
            "type": "boolean"
          }
        },
        "required": [
          "chart"
        ]
      },
      "Transits": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "transitDate": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "transitTime": {
                "type": "string",
                "pattern": "^\\d{2}:\\d{2}:\\d{2}$"
              },
              "transitTzOffset": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "transitDate"
            ],
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "TriWheel": {
        "type": "object",
        "properties": {
          "natal": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "middle": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "outer": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "options": {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer",
                "minimum": 200,
                "maximum": 2000
              },
              "theme": {
                "type": "string",
                "enum": [
                  "light",
                  "dark",
                  "console"
                ]
              },
              "showAspects": {
                "type": "boolean"
              },
              "showRetrograde": {
                "type": "boolean"
              },
              "title": {
                "type": "string",
                "maxLength": 120
              },
              "format": {
                "type": "string",
                "enum": [
                  "svg",
                  "json"
                ],
                "default": "json"
              },
              "middleLabel": {
                "type": "string",
                "maxLength": 40,
                "default": "PR"
              },
              "outerLabel": {
                "type": "string",
                "maxLength": 40,
                "default": "TR"
              }
            }
          }
        },
        "required": [
          "natal",
          "middle",
          "outer"
        ]
      },
      "Varshphal": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ChartInput"
          },
          {
            "type": "object",
            "properties": {
              "age": {
                "type": "integer",
                "minimum": 0,
                "maximum": 120
              }
            },
            "additionalProperties": {
              "nullable": true
            }
          }
        ],
        "description": "Birth data for a single natal chart. Required: date (YYYY-MM-DD), time (HH:mm:ss). Defaults to lat/lon/tz=0 if omitted; pass real values for accurate computation."
      },
      "VedicKundli": {
        "type": "object",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/ChartInput"
          },
          "language": {
            "type": "string",
            "enum": [
              "uk",
              "en",
              "de",
              "ru",
              "pl",
              "es",
              "pt",
              "hi",
              "fr",
              "ko",
              "it",
              "ja",
              "id",
              "tr",
              "nl",
              "ro",
              "cs",
              "vi",
              "ar",
              "el",
              "hu"
[...]
